/* Geral */
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    box-sizing: border-box;
}

body{
    background-image: url("../img/wallpaper.1.jpg");
    background-size: cover;
}

button {
    background-color: #fdfdfd;
    color: #515151;
    border: 2px solid #515151;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

button:hover {
    background-color: #d9ec0d;
    border:solid 2px #fff;
}

button:hover > i {
    color:#fff;
}

button i {
    color: #515151;
    font-weight: bold;
    pointer-events: none;
}

input,select {
    padding: 0.25rem 0.5rem;
}

.hide{
    display: none;
}

#todo-list .hideX{
    display: none;
}

#todo-list .hideY{
    display: initial;
}

/* todo header */

.container {
    max-width: 450px;
    margin: 450px;
    margin: 3rem auto ;
    background-color: #fdfdfd;
    padding: 1.5rem;
    border-radius: 15px;
}

header{
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
}

/*to form*/

#todo-form, #edit-form {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

#todo-form p,
#edit-form p {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control {
    display: flex;
}

#todo-input{
    border-radius: 8px;
    margin-right: 0.3rem;
    border: 2px solid #515151;
}

.form-control button{
    border-radius: 8px;
    border: 2px solid #515151;
}

.form-control button:hover{
    border: solid 2px #fdfdfd;
    background-color: rgb(94, 241, 75);
}

.form-control{
    margin-right: 1.3rem;
}

#erase-button:hover {
    background-color: rgb(241, 75, 75);
    border: solid 2px #fdfdfd;
}

#btnDeleteCaracter:hover{
    background-color: rgb(241, 75, 75);
    border: solid 2px #fdfdfd;
}

#edit-input {
    border-radius: 8px;
    margin-right: 0.3rem;
    border: solid 2px #515151;
}

#cancel-edit-btn {
    font-weight: bold;
    margin-top: 1rem;
    border-radius: 8px;
    margin-right: 0.3rem;
}
#cancel-edit-btn:hover {
    background-color: rgb(241, 75, 75);
    color: #fdfdfd;
    border: 2px solid #fdfdfd;
}

/*todo bar*/

.toolbar {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
}

.toolbar h4 {
    margin-bottom: .5rem;
}

#search{
    border-right: 1px solid #ddd;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form {
    display: flex;
}

#search input{
    width: 100%;
    margin-right: 0.3rem;
    border-radius: 8px;
    border: 2px solid #515151;

}

#search button{
    border-radius: 8px;
}

#filter{
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select {
    flex: 1;
    border-radius: 8px;
    border: 2px solid #515151;
}

/* todo List */

.todo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: .3s;
}

.todo h3 {
    flex: 1;
    font-size: .9rem;
}

.todo button{
    margin-left: 0.4rem;
    border-radius: 8px;
}

.done {
    background-color: #908b8b;
}

.done h3 {
    color: #fff;
    text-decoration: line-through;
    font-style: italic;
}

.remove-todo:hover {
    background-color: rgb(241, 75, 75);
    color: #fdfdfd;
    border: 2px solid #fdfdfd;
}

.finish-todo:hover {
    background-color: rgb(94, 241, 75);
    border: 2px solid #fdfdfd;
}

    